<%= form_for(@myfile) do |f| %>
  <% if @myfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myfile.errors.count, "error") %> prohibited this myfile from being saved:</h2>

      <ul>
      <% @myfile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.file_field :upload_file%>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
