<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="torrent">
     <%@torrents.each do |torrent|%>
          <p class="text-info">
          <%=torrent.name%>[<%=(torrent.total_size.to_f/(1024*1024)).round(3).to_s+"Mb"%>]
          </p>
          <div id="<%=torrent.hash%>">
          upload speed: <%=format_speed torrent.upload_speed%> download speed: <%=format_speed torrent.download_speed%>
          <%finished=torrent.finished_percentage%>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow=<%=finished*100%>  aria-valuemin="0" aria-valuemax="100" style="width: <%=(finished*100).to_s+'%'%>"><%=(finished*100).to_s+"%"%></div>
        </div>
      </div>
      <%if torrent.is_active? %>
        <%=link_to "stop", stop_torrent_path(torrent.hash), class: "btn btn-warning"%>
      <%else%>
        <%=link_to "start",start_torrent_path(torrent.hash),class: "btn btn-success"%>
      <%end%>
      <%=link_to "delete", delete_torrent_path(torrent.hash), class:"btn btn-danger"%>
      <%if torrent.complete?%>
        <%=link_to "delete", fetch_torrent_path(torrent.hash), class:"btn btn-info"%>
      <%end%>
        <br>
        <hr>
    <%end%>
          <script>
          var dispatcher = new WebSocketRails('localhost:3000/websocket');
          dispatcher.bind("system",  receive_update)
          function trigger_update(){
          dispatcher.trigger("new_message","")
        }
        function receive_update(info){
          for (var hash in info){
            state=document.getElementById(hash)
            state.innerHTML="upload speed: "+info[hash]["upload_speed"]+" download speed: "+info[hash]["download_speed"]+'<div class="progress">\
                <div class="progress-bar" role="progressbar" aria-valuenow='+info[hash]["percentage"]+'\
                    aria-valuemin="0" aria-valuemax="100" style="width:'+info[hash]["percentage"]+'%">\
                        '+info[hash]["percentage"]+'%\
                          </div>\
                        </div>'
          }
            
          }
          setInterval("trigger_update()",10000);
        </script>
      </div>
      <br>
   <a data-toggle="modal" href="#myModal" class="btn btn-primary">New</a>
        <div class="modal" id="myModal">
                <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">New Torrent</h4>
                </div>
                <div class="modal-body">
                  <%=form_tag("/torrents" , :method=>:post) do%>
                    <%=text_field :torrent, :url, style: "width:95%;"%><br><br>
                    <%=submit_tag("new", class: "btn btn-info")%>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div>

